<h1 class="ui header">Artists</h1>
<div class="ui green one item inverted menu">
  <%= link_to "New Artist", new_artist_path(@board), class: "item" %>
</div>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @artists.each do |artist| %>
      <tr class="center aligned">
        <td>
        <%= artist.name %>
        </td>
        <td><%= link_to "Songs", artist_songs_path(artist), class: "ui button green" %></td>
        <td><%= link_to "Edit", edit_artist_path(artist), class: "ui button yellow" %></td>
        <td><%= link_to "Delete", artist_path(artist), method: :delete, class: "ui button red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
