<h1 class="ui header">Songs by <%= @artist.name %></h1>
<div class="ui green one item inverted menu">
  <%= link_to "New Song", new_artist_song_path(@artist), class: "item" %>
</div>
<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @songs.each do |song| %>
      <tr class="center aligned">
        <td>
        <%= song.name %>
        </td>
        <td><%= link_to "Edit", edit_artist_song_path(@artist, song), class: "ui button yellow" %></td>
        <td><%= link_to "Delete", artist_song_path(@artist, song), method: :delete, class: "ui button red" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
