<h1 class="ui header">Boards</h1>

<div class="ui green one item inverted menu">
  <%= link_to "New Board", new_board_path, class: "item" %>
</div>

<table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @boards.each do |board| %>
      <tr class="center aligned">
        <td>
        <%= board.name %>
        </td>
        <td><%= link_to 'Songs', board_path(board), class: "ui button green" %></td>
        <td><%= link_to "Edit", edit_board_path(board), class: "ui button yellow" %></td>
        <td><%= link_to "Delete", board_path(board), method: :delete, class: "ui button red" %></td>
      </tr>
      <% end %>
      
  </tbody>
</table>
